.wrapper{
    background-color: #878787;
}

.fotofooxi{
height: 300px;
width: 300px;
left: 520px;
margin-top: 20px;
border-radius: 275px;
position: absolute;
}

.textofooxi{
    text-align: center;
    font-family: Verdana;
    color: #ffffff;
    margin-top: 350px;
    margin-left: 560px;
    position: absolute;
}

.textofooxi2{
    text-align: center;
    font-family: Verdana;
    color: #ffffff;
    margin-top: 400px;
    margin-left: 315px;
    position: absolute;
}

.aspas{
    
}

.topo{
    background-color: #878787;
    height: 16%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}

.logo{
    background-color: #ffff00;
    height: 100%;
    width: 12%;
    position:absolute;
    top:0;
    left:0;
}

.menu{
    background-color:#475047;
    height:85%;
    width:12%;
    left:0;
    bottom:0;
    position:absolute;
}

.rodape{
    background-color:#475047;
    height:5%;
    width:100%;
    bottom:0;
    left:0;
    position:absolute;
}

.corpo{
    background-color:#132624;
    height:85%;
    width:88%;
    right:0;
    bottom:0;
    position: absolute;
}

#logo{
    width: 100%;
}

#topo{
    height: 100%;
    width: 100%;
}

.textomenu{
    text-align: center;
    vertical-align: center;
    font-family: Verdana;
    color: #ffffff;
}

.textoindex{
    text-align: center;
    font-family: Verdana;
    color: #ffffff;
}

.imagemmenu{
    height:100%;
    width:100%;
}
